/* globals.css */

/* โหลดฟอนต์ Kanit จาก Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

/* Variables */
:root {
  --icon-fontSize-sm: 1rem;
  --icon-fontSize-md: 1.25rem;
  --icon-fontSize-lg: 1.5rem;
}

*:focus-visible {
  outline: 2px solid var(--mui-palette-primary-main);
}

html, body {
  height: 100%;
  font-family: 'Kanit', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}